src/main/mule/delete-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-employeeFlow" doc:id="4b88a0df-1059-4001-bed6-a7a2a891b21a" >
		<http:listener doc:name="Listener" doc:id="6c492a3e-8c89-42c6-a035-670c5d8d322a" config-ref="HTTP_Listener_config" path="delete-employee/{employeeID}/{employeeName}" allowedMethods="DELETE"/>
		<logger level="INFO" doc:name="Start Log" doc:id="5ede69e5-b6d1-4c17-9e28-afb9cb7ad84d" message="The flow has started"/>
		<db:stored-procedure doc:name="Call Delete Employee Stored Procedure" doc:id="4d35a74e-9239-43c0-8ed3-b19a2ddb06f8" config-ref="Database_Config">
			<db:sql ><![CDATA[{
call DELETE_EMPLOYEE(:empID,:empName)
}]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID:attributes.uriParams.employeeID,
	empName:attributes.uriParams.employeeName
}]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Set Response" doc:id="01ebe99c-8f42-4c86-bd78-6634900ff99e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 200,
	message: "OK"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="d5c1f0d3-f240-4c1d-80e1-9ce6849603dc" />
	</flow>
</mule>
